// Colors
$primary-bright-orange: hsl(31, 77%, 52%);
$primary-dark-cyan: hsl(184, 100%, 22%);
$primary-very-dark-cyan: hsl(179, 100%, 13%);

$para-white: hsla(0, 0%, 100%, 0.75);
$lightgray: hsl(0, 0%, 95%);

// Fonts related

$body-size: 15px;

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

$lexend: 'Lexend Deca', sans-serif;
$bigshoulders: 'Big Shoulders Display', cursive;


// ---------------------------------------------------------------- //

.main {
  border-radius: 10px;
}

svg {
  margin-top: 2.5rem;
  margin-bottom: 35px;
}

span {
  color: $lightgray;
  font-family: $bigshoulders;
  font-size: 32px;
}

p {
  line-height: 1.6;
  color: $para-white;
  font-family:$lexend;
  font-size: $body-size;
  max-width: 25ch;
  margin-bottom: 30px;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 1rem;
  .container {
    width: 100vw;
    max-width: 300px;
    padding-left: 40px;
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    button {
      margin-bottom: 3rem;
      border: none;
      background-color: white; 
      color: $primary-bright-orange;
      font-family: $lexend;
      font-size: 13px;
      border-radius: 20px;
      width: 140px;
      height: 40px;
    }
  }

  .container.card1 {
    background-color: $primary-bright-orange;
    border-radius: 10px 10px 0 0;
  }
  
  .container.card2 {
    background-color: $primary-dark-cyan;
    button {
      color: $primary-dark-cyan;
      font-size: 13px;
    }
  }

  .container.card3 {
    background-color: $primary-very-dark-cyan;
    border-radius: 0 0 10px 10px;
    button {
      color: $primary-very-dark-cyan;
    }
  }
}

// DESKTOP VIEW

@media (min-width: 1024px) {
  body {
    display: grid;
    place-items: auto center;
    height: 100vh;
    padding: 0;
    .main {
          display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "a b c";

    .container {
      max-width: 250px;
      border-radius: 0;
      button {
        cursor: pointer;
        &:hover {
          background-color: transparent;
          color: white;
          border: 2px solid white;
        }
      }
    }
    p {
      margin-bottom: 4rem;
      max-width: 24ch;
    }
    .card1 {
      border-radius: 10px 0 0 10px;
    }
      .card2 {
    display: grid;
    grid-area: b;
     }

     .card3 {
       border-radius: 0 10px 10px 0;
     }
    }
  }
}


